<!--micropostの_users.html.erb参照-->
<%if @users.any? %>
  <table class="table table-hover">
    <tr>
        <th class="text-center">ユーザid</th>
        <th class="text-center">名前</th>
        <th class="text-center">投稿数</th>
        <th class="text-center">cooking-diary</th>
        <th class="text-center">自己紹介</th>
        <% if current_user.admin? %>
          <th class="text-center">ユーザ削除</th>
        <% end %>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td class="text-center"><%= user.id %></td>
      <td class="text-left"><%= user.name %></td>
      <td class="text-center"><%= user.posts.count %>枚</td>
      <td class="text-center"><%= link_to "view cooking diary", user_path(user) %></td>
      <td class="text-left"><%= user.introduce %></td>
      <% if current_user.admin? %>
        <td class="text-center"><%= link_to "退会する", user_path(user), method: :delete, data: { confirm: "退会後、データは復元できません。本当によろしいですか?" }  %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <%= paginate @users %>
<% end %>

