<%= render "users/users", user: @user %>
<div class="mb-4 border border-dark text-center"><%= "#{@user.name}さんの投稿一覧" %></div>
<%if @posts.any? %>
    <!-- posts一覧を取得し、それぞれの投稿情報を変数postに入れて表示-->
    
    <div class="container">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-sm-3">
            <div>
              <!-- リンク先はpost_path(post)の省略形 -->
              料理名:<%= link_to post.title, post %>
            </div>
            <div class="mt-2 mb-2"><%= image_tag post.image.url, :size =>'250x250' %></div>
            <div class="mb-2">投稿日:<%= post.created_at.strftime("%Y年%m月%d日") %></div>
            <div class="row">
              <span class="ml-3"><%= render "favorites/likes_button", post: post %></span>
              <span class="ml-1"><%= post.favorites.count %></span>
              <!--ログインユーザーのみ編集削除ボタンを表示させたい-->
              <% if current_user == post.user %>
                <%= link_to "編集", edit_post_path(post), class: "ml-2 btn btn-light btn-sm" %>
                <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "削除したデータは復元できません。本当によろしいですか?" }, class: "ml-2 btn btn-light btn-sm" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <div class="m-3"><%= paginate @posts %></div>
<% end %>