<section>
  <div class="text-left">
    <h1><%= @user.name %>'s cooking diary</h1>
    <p>料理写真：<%= @counts_post %>枚</p>
    <p>自己紹介<br><%= @user.introduce %></p>
  </div>
</section>

<%if @posts.any? %>
    <!-- posts一覧を取得し、それぞれの投稿情報を変数postに入れて表示-->
    <% @posts.each do |post| %>
     <div class="container">
       <div class="row">
        <div class="card col-sm-3">
          <div><%= post.title %></div>
          <div><%= post.image %></div>
          <div><%= post.created_at %></div>
          <p>いいねを追加</p>
        </div>
       </div>
     </div>
    <% end %>
    
  <% paginate @posts %>
<% end %>

<!---->
