<div class="container">
  <div class="row">
    
    <div class="col-sm-6">
      <%= render "users/users", user: @post.user %>
    </div>
    
    <div class="col-sm-6">
      <div>料理名:<%= @post.title %></div>
      <% if @post.image? %>
        <%= image_tag @post.image.url, :size =>'500x500' %>
      <% end %>
      <div>投稿日:<%= @post.created_at.strftime("%Y年%m月%d日") %></div>
      <div class="row">
      <div class="ml-3"><%= render "favorites/likes_button", post: @post %></div>
      <div class="ml-1"><%= @post.favorites.count %></div>
      </div>
    </div>
    
  </div>
</div>